<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>study help</title>
</head>
<body>
    <header>
        <div class="openbtn"><span></span><span></span><span></span></div>
            <nav id="g-nav">
                <ul>
                    <li><a href="#">ホーム</a></li> 
                    <li><a href="#">新しい教材を追加</a></li> 
                    <li><a href="#">教材を削除</a></li> 
                    <li><a href="#">学習の記録</a></li> 
                    <li><a href="#">ログアウト</a></li> 
                </ul>
            </nav>
        <h1 class="page_title">Study help</h1>    
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>