{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="register_bg">
        <form action="/login" method="POST">
            <h1 class="sec_title">ログイン</h1>
            <p class="label">ユーザーネーム</p>
            <input class="login_form" type="text" name="name" id="name">
            <p class="label">パスワード</p>
            <input class="login_form" type="password" name="password" id="password"><br>
            <div class="login_btn form_btn">
                <input class="submit" type="submit" value="ログイン">
            </div>    
        </form>    
    </div>
{% endblock %}